{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <form action="{{ .Site.Params.contact_form_action }}" method="POST" class="bg-white p-lg-5 p-4 row">
          <div class="col-12">
            <h1 class="section-title">{{ .Title }}</h1>
          </div>
          <div class="form-group col-md-6">
            <label for="first-name">{{ i18n "first_name"}}</label>
            <input type="text" name="first-name" id="first-name" class="form-control" placeholder="Alexender">
          </div>
          <div class="form-group col-md-6">
            <label for="last-name">{{ i18n "last_name"}}</label>
            <input type="text" name="last-name" id="last-name" class="form-control" placeholder="Grahambel">
          </div>
          <div class="form-group col-12">
            <label for="email">{{ i18n "email" }}</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="alexender@email.com">
          </div>
          <div class="form-group col-12">
            <label for="message">{{ i18n "message"}}</label>
            <textarea name="message" id="message" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and...……."></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}