---
layout: default
---
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/2b9201d205b839798f3ebac5e/1367b909403aa6bb23d76ee11.js");</script>
<div class='o-wrapper'>
  <div class='o-grid js-grid'>
    {% for post in paginator.posts %}
      {% include post-card.html %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>