// Color Variables
$primary-color: #DAB768;
$text-color: #666;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #F8F8F8;
$border-color: #DEDEDE;
$black: #000;
$white: #fff;
$light: #ededed;

// Font Variables
$primary-font: 'Lora', sans-serif;
$secondary-font: 'Cormorant Garamond', sans-serif;
$tertiary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';